<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213786585237-0p2b9qi3ljd4ro73p6cphmqc0e6dm4dm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213786585237-0p2b9qi3ljd4ro73p6cphmqc0e6dm4dm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>213786585237-86tk55i1tgr9jvvkvrvqfdhipg6ltrmj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCg23Peb0gAl3z63QVeQwlz47y33doWTBU</string>
	<key>GCM_SENDER_ID</key>
	<string>213786585237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.photon</string>
	<key>PROJECT_ID</key>
	<string>photon-loanly</string>
	<key>STORAGE_BUCKET</key>
	<string>photon-loanly.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213786585237:ios:9232ab675d48f59617939c</string>
	<key>DATABASE_URL</key>
	<string>https://photon-loanly.firebaseio.com</string>
</dict>
</plist>